* {
  background-color: #fde9eb;
  color: rgb(50, 32, 32);
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .9375rem;
  font-weight: 700;
}

.header {
  position: fixed;
  background-color: black;
}

a{
  text-decoration: none; 
}

.container {
  margin-top: 80px;
  margin-right: 10%;
  margin-left: 10%;
  display: grid;
  color: hsla(307, 100%, 55%, 0.667);
  grid-template-areas: 
    "nav search"; 
  grid-template-columns: 50% 50%;
}




.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  color: white;
  max-width: 400px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form_email{
  margin-bottom: 30px;
  cursor: pointer;
  
}

h1{
  font-size: 20px;
}

h2{
  font-size: 18px;
}
.form_title {
  margin-bottom: 40px;
}

.form-field {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  
  border-bottom: 1px solid rgb(50, 32, 32);
}

.form_btn {
  margin-bottom: 30px;
  padding: 10px 0;
  border: 1px solid rgb(50, 32, 32);
  border-radius: 10px;

}

.form_name {
  position: relative;
}



.form_create {
  margin-bottom: 30px;
}




/* полоса прокрутки (скроллбар) */

::-webkit-scrollbar {
  width: 7px; 
  height: 8px; 
  background-color: rgb(86, 86, 86);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: rgb(50, 50, 50);
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #cfcfcf;
  cursor: pointer;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #fde9eb;
  cursor: pointer;
}


.i-dont-know-how-to-call-it {
  min-width: 320px;
  width: 100%;
  padding: 0;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: search;
  
}

.search-container {
  margin-bottom: 1%;
}

.result-item-theme {
  text-align: start;
  font-size: 1rem;
  padding: 0.3rem 0.75rem;
  padding-bottom: 0;
}

.not-active {
  display: none;
  
}

.active {
  display: block;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  width: 298px;
  background-color: rgb(50, 32, 32);
  border-radius: 5px;
  color: white;
  padding: 0.375rem 0.75rem;
  overflow-y: scroll;
  height: 350px;
  z-index: 10000;
  position: absolute;

  @media (max-width: 600px) {
    width: 270px;
  }
}


.result-item {
  background-color: rgb(50, 32, 32);
  list-style: none;
  padding: 0.3rem 0.75rem;
  margin: 1rem 0;
  border-bottom: 1px solid #fde9eb ;
  color: white;
}

.result-item-theme {
  background-color: rgb(50, 32, 32);
  margin: 0.2rem 0;
  font-size: 0.9rem;
  color: white;
}

.categories-title {
  font-size: 1rem;
  padding: 0.3rem 0.75rem;
  padding-bottom: 0;
}



.search_result {
  padding: 0;
  margin: 0;
  height: 250px;
  border: none;
  background-color: rgb(50, 32, 32);
  color: white;
}


/* NAVIGATION*/

.nav-container {
  
  width: 100%;
  
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-size: 1.2rem;
  grid-area: nav;
}


/* NEWS DETAILS*/






.burger {
  margin-top: 80px;
  border: none;
  color: hsl(39, 100%, 55%);
  cursor: pointer;
  margin-left: 88%;
  
  margin-top: 80px;
}

.burger-container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 298px;
  list-style: none;
  
  color: white;
  padding: 0.375rem 0.75rem;
  
  height: 100px;
  z-index: 1000;
  
}


.logo {
  background-color: black;
  color: black;
}

.reg-link {
  margin: 0 10%;
}